@import '../../_colors.scss';

#Home h1, #Home h2, #contact{ 
    text-align: center;
    color: #f8f8f8;
}

#previous-projects, #previous-knowledge  {
    position: relative;
    top: 50px;
    display: grid;    
    margin: auto;
    width: 840px;
    padding: auto;      
}

.Project {
    position: relative;
    
}

#knowledges, #projects {    
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

h2 {
    text-align: center;
}

#About {
    display: inline-block;
    padding: 20px;

    #about-picture {        
        img {
            display:block;
            margin:auto;
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }
    }

    #about-text {
        padding:30px;
        color: #f8f8f8;
    }
}

#footer {
    position: absolute;
    height: 100px;    
    top: 2400;
    width: 100%;
    background: $gradient-orange;       

    footer h3{
        font-weight: bold;
        font-size: 35px;
        margin-top: 25px;
        color: #f8f8f8;
        text-align: center; 
    }

    #socials {
        margin-top: 20px;
        margin-left: -30px;
        img {
            margin-left: 30px;
            $size: 60px;
            height: $size;
            width: $size;
            border-radius: 10px;
        }
    }
}