@import '../../_colors.scss';

#Home h1, #Home h2, #contact{ 
    text-align: center;
}

#previous-projects, #previous-knowledge  {
    position: relative;
    top:50px;
    display: block;
    margin: auto;
    width: 80%;
    padding: auto;      
}

.Project {
    position: relative;
    left:5%;
}

#knowledges {
    margin-top: 50px;
    display: block;
    margin: auto;
    width: 90%;
}

h2 {
    text-align: center;
}

#About {
    display: inline-block;
    padding: 20px;

    #about-picture {        
        img {
            display:block;
            margin:auto;
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }
    }

    #about-text {
        padding:30px;
    }
}

#footer {
    position: absolute;
    height: 100px;    
    top: calc($page-size - #{height});
    width: 100%;
    background: $gradient-orange;       

    footer h3{
        font-weight: bold;
        font-size: 35px;
        margin-top: 25px;
        color: white;
        text-align: center; 
    }

    #socials {
        margin-top: 20px;
        margin-left: -30px;
        img {
            margin-left: 30px;
            $size: 60px;
            height: $size;
            width: $size;
            border-radius: 10px;
        }
    }
}