#header {
    background-image: url('/portfolio/static/media/headerimage.0b992db9.jpg');
    width:100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -120px;
    position: relative;
    background-attachment: fixed;

    img {
        height: 100%;
        width: 100%;
    }

}

#profile-picture img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display:block;
    margin:auto;
    position: relative;
    top: -210px;
}

#profile-picture {
    height: 100px;
}

#contact:hover {
    background: rgb(255,112,23);
}