// Sizes and generals
$page-size: 2500;


// Colors
$background-color: rgb(53,54,58);
$text-color: #f8f8f8;
$gradient-orange: linear-gradient(90deg, rgba(255,112,23,1) 10%, rgba(255,169,119,1) 100%);
