#Project_site {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    #Project_site-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        color: white;
        h1 {
            margin-top: 10px;
            font-size: 100px;
        }

        h2 {
            font-size: 40px;
            font-style: italic;
        }

        * {            
            text-align: center;
        }

        .descriptionText {            
            max-width: 60%;
            margin: auto;
            font-size: 25px;            
        }

        .programsUsedText {
            margin-top: 20px;
        }

        .goBack{        
            margin-top: 40px;
            margin-left: 40px;
            font-size: 30px;
        }
    }
}

#linkWebsite, #linkGithub {
    margin-top: 40px;
    font-size: 25px;
    padding: 10px;
}